<?xml version="1.0" encoding="UTF-8"?>
<!-- applicationContext: Spring에서 클래스 등록할 때 쓰는 애 -->
<!-- 여기에 등록이 되어 있어야 Controller가 인식함 -->
<!-- 질문) '등록' 한다는게 무엇? 메모리 할당을 한다는 것? 
      ==>DispatcherServlet(Controller)에서 applicationContext.xml에 <bean>으로 코딩된 걸 읽어간다는 뜻.
      ==> 그러면 DispatcherServlet 에서 Map에다가 (id, model) 넣고 메모리 할당도 해줌 -->
<beans>
	<!-- bean: Spring에서는 우리가 만든 클래스를 'bean'이라고 함  -->
	<bean id="main/home" class="com.sist.model.HomeModel"/> <!-- id는 중복되면 안 됨 -->
	<bean id="member/join" class="com.sist.model.JoinModel"/> <!-- class 이름을 알아야 메모리 할당 가능 -->
	<bean id="movie/movie" class="com.sist.model.MovieModel"/>
	<bean id="movie/reserve" class="com.sist.model.ReserveModel"/>
	<bean id="board/board" class="com.sist.model.BoardModel"/>
	<bean id="pages/mypage" class="com.sist.model.MyPageModel"/>
	<bean id="main/main" class="com.sist.model.MainModel"/>
	<!-- bean 낱개로 등록하자니 너무 많아서 번거로움 ==> package 단위로 처리할 수도 있음
		===> com.sist.temp > MainClass.java 방식 --> 
</beans>