<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MVCProject4</display-name>
  
  <!-- 1. Servlet 등록 -->
  <servlet>
  	<servlet-name>include</servlet-name>
  	<servlet-class>com.sist.controller.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>C:\webDev\webStudy\MVCProject4\WebContent\WEB-INF\applicationContext.xml</param-value> 
  	</init-param>
  </servlet>
  
  <!-- 2. Servlet mapping: url 주소를 뭘 주면 뭘 찾는지를 설정 -->
  <servlet-mapping>
  	<servlet-name>include</servlet-name>
  	<!-- servlet태그와 servlet-mapping태그의 servlet-name은 일치해야함 -->
  	<url-pattern>*.do</url-pattern>
  	<!--  -->
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>


