<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MVCProject2</display-name>
  <!-- 
  [Controller 등록]
   - Controller.java 파일에서 @WebServlet을 없애고 XML에 아래와 같이 코딩했다. Spring에서는 이렇게 코딩한다.
   - 이렇게 하면 Tomcat이 읽어가서 메모리 할당해준다. --> 
  <servlet>
  	<servlet-name>mvc</servlet-name>
  	<servlet-class>com.sist.controller.Controller</servlet-class> <!-- 패키지명+서블릿클래스명 --> <!-- 클래스 이름만 넘기면 메모리가 할당된다. -->
  </servlet>
  <servlet-mapping>
  	<servlet-name>mvc</servlet-name>
  	<url-pattern>*.do</url-pattern> <!-- *.do하면 servlet을 호출하겠다.  -->
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>